* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.input-text {
  width: 250px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
}
.search {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.col-card {
  display: flex !important;
  justify-content: center !important;
}
